h3 {
    padding: 5px;
}

h4 {
    padding: 4px;
}

h5 {
    padding: 3px;
}

#reference {
    color: red;
    position: fixed;
    right: 10px;
    bottom: 0;
}

#change {
    height: 100px;
    padding-left: 8%;
    background-color: rgb(133, 244, 129);
    border: 1px solid black;
}

#main {
    position: relative;
}

.col-8 {
    border: 1px solid black;
    margin-right: 1px;
}

header {
    display: block;
    font-size: 48px;
    padding-top: 10px;
    font-weight: 700;
}

span {
    font-size: 16px;
}

select {
    display: block;
}

.tab-pane {
    background-color: white;
    border: 1px solid black;
}

div[class^=col] {
    background-color: rgb(255, 246, 187);
}

.tab-pane {
    background-color: rgb(255, 246, 187);
}

body {
    background-image: url(/img/train.png);
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-color: beige;
}

a:link {
    color: rgb(85, 39, 255);
}

.btn.btn-outline-success.m-1 {
    background-color: beige;
}